@model PrimeStone.Models.EstudianteModel;
@{
    ViewData["Title"] = "Crear Estudiante";
}
<h1>@ViewData["Title"]</h1>
<hr />


<div class="row">

    @using (Html.BeginForm("Crear", "Estudiante", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "red" })
        @Html.LabelFor(m => m.Edad)
        @Html.TextBoxFor(m => m.Edad, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Edad, null, new { @class = "red" })
        @Html.LabelFor(m => m.Telefono)
        @Html.TextBoxFor(m => m.Telefono, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Telefono, null, new { @class = "red" })
        <hr />
        <div>
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
    }

</div>